In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [46]:
spark = SparkSession.builder.appName("sales").getOrCreate()

path = "/content/drive/MyDrive/Colab Notebooks/newDataSets/Sales Data.csv"

df = spark.read.csv(path,header = True, inferSchema = True)

df.show()

+---+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
|_c0|Order ID|             Product|Quantity Ordered|Price Each|      Order Date|    Purchase Address|Month| Sales|          City|Hour|
+---+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
|  0|  295665|  Macbook Pro Laptop|               1|    1700.0|30-12-2019 00:01|136 Church St, Ne...|   12|1700.0| New York City|   0|
|  1|  295666|  LG Washing Machine|               1|     600.0|29-12-2019 07:03|562 2nd St, New Y...|   12| 600.0| New York City|   7|
|  2|  295667|USB-C Charging Cable|               1|     11.95|12-12-2019 18:21|277 Main St, New ...|   12| 11.95| New York City|  18|
|  3|  295668|    27in FHD Monitor|               1|    149.99|22-12-2019 15:13|410 6th St, San F...|   12|149.99| San Francisco|  15|
|  4|  295669|USB-C Charging Cable|               1|     11.95|18-12-2019 12:38|43 Hill St, Atlan...|   12| 11.95|       Atlanta| -12|
|  5|  295670|AA Batteries (4-p...|               1|      3.84|31-12-2019 22:58|200 Jefferson St,...|   12|  NULL| New York City| 122|
|  6|  295671|USB-C Charging Cable|               1|     11.95|16-12-2019 15:10|928 12th St, Port...|   12| 11.95|      Portland|  15|
|  7|  295672|USB-C Charging Cable|               2|     11.95|13-12-2019 09:29|813 Hickory St, D...|   12|  23.9|        Dallas|   9|
|  8|  295673|Bose SoundSport H...|               1|     99.99|15-12-2019 23:26|718 Wilson St, Da...|   12| 99.99|        Dallas|  23|
|  9|  295674|AAA Batteries (4-...|               4|      2.99|28-12-2019 11:51|77 7th St, Dallas...|   12| 11.96|        Dallas|  11|
| 10|  295675|USB-C Charging Cable|               2|     11.95|13-12-2019 13:52|594 1st St, San F...|   12|  23.9| San Francisco|  13|
| 11|  295676|     ThinkPad Laptop|               1|    999.99|28-12-2019 17:19|410 Lincoln St, L...|   12|999.99|   Los Angeles|  17|
| 12|  295677|AA Batteries (4-p...|               2|      3.84|20-12-2019 19:19|866 Pine St, Bost...|   12|  7.68|        Boston| -19|
| 13|  295678|AAA Batteries (4-...|               2|      2.99|06-12-2019 09:38|187 Lincoln St, D...|   12|  5.98|        Dallas|   9|
| 14|  295679|USB-C Charging Cable|               1|     11.95|25-12-2019 09:39|902 2nd St, Dalla...|   12| 11.95|        Dallas|   9|
| 15|  295680|Lightning Chargin...|               1|     14.95|01-12-2019 14:30|338 Main St, Aust...|   12| 14.95|        Austin|  14|
| 16|  295681|        Google Phone|               1|     600.0|25-12-2019 12:37|79 Elm St, Boston...|   12| 600.0|        Boston|  12|
| 17|  295681|USB-C Charging Cable|               1|     11.95|25-12-2019 12:37|79 Elm St, Boston...|   12|  NULL|        Boston|  12|
| 18|  295681|Bose SoundSport H...|               1|     99.99|25-12-2019 12:37|79 Elm St, Boston...|   12| 99.99|        Boston|  12|
| 19|  295681|    Wired Headphones|               1|     11.99|25-12-2019 12:37|79 Elm St, Boston...|   12| 11.99|        Boston|  12|
+---+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
only showing top 20 rows

In [47]:
cols_with_missing = [
    F.col for F.col in df.columns if df.filter(df[F.col].isNull()).count() > 0
]
print(cols_with_missing)

# df.filter(F.col("Order ID").isNull()).show()
# df.filter(F.col("Product").isNull()).show()
# df.filter(F.col("Price Each").isNull()).show()
# df.filter(F.col("Order Date").isNull()).show()
# df.filter(F.col("Purchase Address").isNull()).show()
# df.filter(F.col("Month").isNull()).show()
# df.filter(F.col("Sales").isNull()).show()
# df.filter(F.col("City").isNull()).show()
# df.filter(F.col("City").isNull()).show()

df=df.dropna(subset =["Sales"])
# df.filter(F.col("Sales").isNull()).show()

['Sales']

In [49]:
df = df.dropDuplicates()

In [50]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Sales: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Hour: integer (nullable = true)

In [51]:
df.show()

+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| _c0|Order ID|             Product|Quantity Ordered|Price Each|      Order Date|    Purchase Address|Month| Sales|          City|Hour|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| 297|  295941|     ThinkPad Laptop|               1|    999.99|31-12-2019 16:24|64 Dogwood St, Po...|   12|999.99|      Portland|  16|
| 464|  296105|Lightning Chargin...|               1|     14.95|29-12-2019 17:57|134 Dogwood St, S...|   12| 14.95| San Francisco|  17|
| 532|  296169|              iPhone|               1|     700.0|10-12-2019 22:31|111 Hickory St, S...|   12| 700.0|       Seattle|  22|
| 628|  296263|    Wired Headphones|               1|     11.99|11-12-2019 18:04|229 Pine St, San ...|   12| 11.99| San Francisco|  18|
| 721|  296351|     ThinkPad Laptop|               1|    999.99|24-12-2019 17:57|168 10th St, Port...|   12|999.99|      Portland|  17|
|1203|  296811|34in Ultrawide Mo...|               1|    379.99|10-12-2019 07:39|485 11th St, Port...|   12|379.99|      Portland|   7|
|1395|  296992|Apple Airpods Hea...|               1|     150.0|09-12-2019 18:46|410 Washington St...|   12| 150.0|        Dallas|  18|
|1414|  297009|  Macbook Pro Laptop|               1|    1700.0|16-12-2019 08:07|779 Maple St, San...|   12|1700.0| San Francisco|   8|
|1431|  297025|34in Ultrawide Mo...|               1|    379.99|18-12-2019 12:04|836 Forest St, Bo...|   12|379.99|        Boston|  12|
|1670|  297251|              iPhone|               1|     700.0|19-12-2019 20:19|835 Main St, Aust...|   12| 700.0|        Austin|  20|
|1782|  297356|27in 4K Gaming Mo...|               1|    389.99|18-12-2019 22:01|769 14th St, Dall...|   12|389.99|        Dallas|  22|
|1982|  297548|USB-C Charging Cable|               1|     11.95|27-12-2019 23:04|24 Pine St, New Y...|   12| 11.95| New York City|  23|
|2037|  297596|       Flatscreen TV|               1|     300.0|10-12-2019 18:45|301 13th St, Los ...|   12| 300.0|   Los Angeles|  18|
|2563|  298104|AA Batteries (4-p...|               1|      3.84|16-12-2019 22:30|955 Johnson St, L...|   12|  3.84|   Los Angeles|  22|
|2746|  298285|Lightning Chargin...|               1|     14.95|21-12-2019 12:19|966 Lincoln St, S...|   12| 14.95| San Francisco|  12|
|2887|  298422|Lightning Chargin...|               1|     14.95|19-12-2019 20:24|249 Wilson St, Da...|   12| 14.95|        Dallas|  20|
|3431|  298934|    Wired Headphones|               1|     11.99|11-12-2019 10:28|400 Highland St, ...|   12| 11.99|       Seattle|  10|
|3469|  298972|    Wired Headphones|               1|     11.99|06-12-2019 14:32|80 Elm St, Los An...|   12| 11.99|   Los Angeles|  14|
|4135|  299597|Bose SoundSport H...|               1|     99.99|05-12-2019 10:29|606 Willow St, Ne...|   12| 99.99| New York City|  10|
|4244|  299700|AA Batteries (4-p...|               1|      3.84|20-12-2019 06:34|371 Cedar St, Dal...|   12|  3.84|        Dallas|   6|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
only showing top 20 rows

In [52]:
from pyspark.sql.functions import col

negative_rows = [
    col for col in df.columns if df.filter(df[col] < 0).count() > 0
]

print(negative_rows)

df = df.filter(
    (df["Sales"] >= 0) &
    (df["Price Each"] >= 0) &
    (df["Quantity Ordered"] >= 0)
)

df.show()

['Hour']
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| _c0|Order ID|             Product|Quantity Ordered|Price Each|      Order Date|    Purchase Address|Month| Sales|          City|Hour|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
| 297|  295941|     ThinkPad Laptop|               1|    999.99|31-12-2019 16:24|64 Dogwood St, Po...|   12|999.99|      Portland|  16|
| 464|  296105|Lightning Chargin...|               1|     14.95|29-12-2019 17:57|134 Dogwood St, S...|   12| 14.95| San Francisco|  17|
| 532|  296169|              iPhone|               1|     700.0|10-12-2019 22:31|111 Hickory St, S...|   12| 700.0|       Seattle|  22|
| 628|  296263|    Wired Headphones|               1|     11.99|11-12-2019 18:04|229 Pine St, San ...|   12| 11.99| San Francisco|  18|
| 721|  296351|     ThinkPad Laptop|               1|    999.99|24-12-2019 17:57|168 10th St, Port...|   12|999.99|      Portland|  17|
|1203|  296811|34in Ultrawide Mo...|               1|    379.99|10-12-2019 07:39|485 11th St, Port...|   12|379.99|      Portland|   7|
|1395|  296992|Apple Airpods Hea...|               1|     150.0|09-12-2019 18:46|410 Washington St...|   12| 150.0|        Dallas|  18|
|1414|  297009|  Macbook Pro Laptop|               1|    1700.0|16-12-2019 08:07|779 Maple St, San...|   12|1700.0| San Francisco|   8|
|1431|  297025|34in Ultrawide Mo...|               1|    379.99|18-12-2019 12:04|836 Forest St, Bo...|   12|379.99|        Boston|  12|
|1670|  297251|              iPhone|               1|     700.0|19-12-2019 20:19|835 Main St, Aust...|   12| 700.0|        Austin|  20|
|1782|  297356|27in 4K Gaming Mo...|               1|    389.99|18-12-2019 22:01|769 14th St, Dall...|   12|389.99|        Dallas|  22|
|1982|  297548|USB-C Charging Cable|               1|     11.95|27-12-2019 23:04|24 Pine St, New Y...|   12| 11.95| New York City|  23|
|2037|  297596|       Flatscreen TV|               1|     300.0|10-12-2019 18:45|301 13th St, Los ...|   12| 300.0|   Los Angeles|  18|
|2563|  298104|AA Batteries (4-p...|               1|      3.84|16-12-2019 22:30|955 Johnson St, L...|   12|  3.84|   Los Angeles|  22|
|2746|  298285|Lightning Chargin...|               1|     14.95|21-12-2019 12:19|966 Lincoln St, S...|   12| 14.95| San Francisco|  12|
|2887|  298422|Lightning Chargin...|               1|     14.95|19-12-2019 20:24|249 Wilson St, Da...|   12| 14.95|        Dallas|  20|
|3431|  298934|    Wired Headphones|               1|     11.99|11-12-2019 10:28|400 Highland St, ...|   12| 11.99|       Seattle|  10|
|3469|  298972|    Wired Headphones|               1|     11.99|06-12-2019 14:32|80 Elm St, Los An...|   12| 11.99|   Los Angeles|  14|
|4135|  299597|Bose SoundSport H...|               1|     99.99|05-12-2019 10:29|606 Willow St, Ne...|   12| 99.99| New York City|  10|
|4244|  299700|AA Batteries (4-p...|               1|      3.84|20-12-2019 06:34|371 Cedar St, Dal...|   12|  3.84|        Dallas|   6|
+----+--------+--------------------+----------------+----------+----------------+--------------------+-----+------+--------------+----+
only showing top 20 rows

In [56]:
df_temp = df.groupBy("Product").agg(F.sum("Sales").alias("total_sales"))

df = df.join(df_temp, on="Product",how="left")

df.show(5)

+--------------------+---+--------+----------------+----------+----------------+--------------------+-----+------+--------------+----+------------------+
|             Product|_c0|Order ID|Quantity Ordered|Price Each|      Order Date|    Purchase Address|Month| Sales|          City|Hour|       total_sales|
+--------------------+---+--------+----------------+----------+----------------+--------------------+-----+------+--------------+----+------------------+
|     ThinkPad Laptop|297|  295941|               1|    999.99|31-12-2019 16:24|64 Dogwood St, Po...|   12|999.99|      Portland|  16| 4129958.699999965|
|Lightning Chargin...|464|  296105|               1|     14.95|29-12-2019 17:57|134 Dogwood St, S...|   12| 14.95| San Francisco|  17| 347094.1500000221|
|              iPhone|532|  296169|               1|     700.0|10-12-2019 22:31|111 Hickory St, S...|   12| 700.0|       Seattle|  22|         4794300.0|
|    Wired Headphones|628|  296263|               1|     11.99|11-12-2019 18:04|229 Pine St, San ...|   12| 11.99| San Francisco|  18|246466.44000003487|
|     ThinkPad Laptop|721|  296351|               1|    999.99|24-12-2019 17:57|168 10th St, Port...|   12|999.99|      Portland|  17| 4129958.699999965|
+--------------------+---+--------+----------------+----------+----------------+--------------------+-----+------+--------------+----+------------------+
only showing top 5 rows

In [ ]:
df = df.join(df_temp,)